.app{
    height: 100vh;

    .container{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        overflow-y: scroll;
       ::-webkit-scrollbar{
           display: none;
       }
    }
}